.App {
  /* text-align: center; */
  /* background-color: rgb(255, 92, 92); */
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 10px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  border-radius: 20px;
  /* transform: translate(-50%,-50%); */
  height: 80vh;
  overflow: auto;
  scroll-behavior: smooth;
  color: white;
}
.App::-webkit-scrollbar{
  display: none
}

