.App {
  background-color: #050111;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  height: 60vh;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  overflow:scroll;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.App::-webkit-scrollbar{
  display: none
}

